<div class="container-fluid">
    <div class="row" >
      <div class="col-sm-3" >
          <h1 appTitulos>Barra de titulo</h1>
      </div>
      <div class="col-sm-8"></div>
      <div class="col-sm-1 text-right">
        <div class="row">
          <div class="col-sm-12">nombreUsuario</div>
          <div class="col-sm-12">
            <div class="dropdown">
              <img src="../../../assets/img/usuario.jpg" style="border-radius: 50%;width: 50px;height: 50px;" class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" alt="...">
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" (click)="cerrarSesion()">Cerrar sesi&oacute;n</a></li>             
              </ul>
            </div>
          </div>
        </div>
          
      </div>
  </div>
</div>
